.footer {
  &__container {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  &__text {
    color: #3e3e3e;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
}